<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar productos</title>
	<link rel="stylesheet" href="/css/style_editProduct.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>

	

    <main>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/productos/agregar" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<section>
						<article>
							<div class="col-12 col-md-6">
								<label for="name" class="form-label">Nombre del producto:</label>
								<input type="text" id="name" name="name" placeholder="Ej: Cosecha tardía" class="form-input">
								<% if (locals.errors && errors.name) { %>
									<div class="red-text">
									<%= errors.name.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12 col-md-6">
								<label for="price" class="form-label">Precio del producto:</label>
								<input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input">
								<% if (locals.errors && errors.price) { %>
									<div class="red-text">
									<%= errors.price.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12 col-md-6">
								<label for="discount" class="form-label">Descuento:</label>
								<input type="number" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
								<% if (locals.errors && errors.discount) { %>
									<div class="red-text">
									<%= errors.discount.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12 col-md-6">
								<label for="discount" class="form-label">Unidades:</label>
								<input type="number" name="unidades" placeholder="Ej: 15" class="form-input">
								<% if (locals.errors && errors.unidades) { %>
									<div class="red-text">
									<%= errors.unidades.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12 col-md-6">
								<label for="cepa" class="form-label">Cepas:</label>
								<select name="cepa" class="form-input">
									<% for (let i=0; i < cepas.length; i++) { %>
									<option value="<%=cepas[i].id%>">
										<%=cepas[i].nombre%>
									</option>
									<%  } %>
								</select>
							</div>

							
							
						</article>
						
						<article>
							
							<div class="col-12 col-md-6">
								<label for="discount" class="form-label">Cuotas sin interes:</label>
								<input type="number" id="cuotas" name="cuotas" placeholder="Ej: 6" class="form-input">
								<% if (locals.errors && errors.cuotas) { %>
									<div class="red-text">
									<%= errors.cuotas.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12" id="Dcol-12">
								<label for="description" class="form-label">Descipción:</label>
								<textarea name="description" id="description" class="form-input"></textarea>
								<% if (locals.errors && errors.description) { %>
									<div class="red-text">
									<%= errors.description.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12">
								<label for="image" class="form-label">Imagen:</label>
								<input type="file" name="image" id="image" class="form-input">
								<% if (locals.errors && errors.image) { %>
									<div class="red-text">
									<%= errors.image.msg %>
									</div>
				
								<% } %>
							</div>
							<div class="col-12">
								<button type="submit" class="buy-now-button">Guardar producto</button>
							</div>
							<div class="col-12">
							<a href="/"><button type="submit" class="buy-now-button">Cancelar</button></a>
							</div>
						</article>
					</section>
				</div>
			</form>
		</div>

	</div>

	
	</main>
   


</body>
</html>