<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include ("./partials/header") %>

    <main>
        
        <div class="banner">
            <img src="/images/banner-vinos.jpg" alt="banner-vinos">
        </div>

        <ul class="info">
            <li><i class="fas fa-shuttle-van"></i> Envios a todo el pais</li>
            <li><i class="fas fa-credit-card"></i> Ver medios de pago</li>
            <li><i class="fas fa-comment-alt"></i></i> Consultá por whatsapp</li>
        </ul>
        <div class="col-12">
            <h2 class="products-title">Basado en tu última visita</h2>
        </div>

        <section>    
            <!-- Show all products -->
			<% visited.forEach(function(product){ %>
                <a href="/productos/detail/<%= product.id %>"></a>
                    <article class="box">
                        <img src="/images/<%= product.image%>" alt="vino-rutini" >
                        <p><%= product.name %></p>
                        <p>$<%= product.price %></p>
                        <p>Hasta 6 cuotas de $133,33</p>
              
                        <button class="main-button" type="submit" value="ENVIAR" style=cursor:pointer><a href="/productos/detail/<%= product.id %>">COMPRAR</a></button>
                    </article>
                </a>
            <% }) %>
        </section>

        <div class="col-12">
            <h2 class="products-title">Ofertas</h2>
        </div>
        <section>
            <!-- Show all products -->
			<% inSale.forEach(function(product){ %>
                <a href="/productos/detail/<%= product.id %>"></a>
                    <article>
                        <img src="/images/<%= product.image%>" alt="vino-rutini" >
                        <p><%= product.name %></p>
                        <p>$<%= product.price %></p>
                        <p>Hasta 6 cuotas de $133,33</p>
                        <button class="main-button" type="submit" value="ENVIAR" style=cursor:pointer><a href="/productos/detail/<%= product.id %>">COMPRAR</a></button>
                        
                    </article>
                </a>
            <% }) %>
        </section>

    </main>

    <%- include ("./partials/footer") %>

</body>
</html>