<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <header>
        <div class="header-div-one">
            <figure class="image">
                <img src="/images/WineOn.png" alt="WineOn"> 
            </figure>
            <figure class="product-cart">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a> 
            </figure>
            <figure class="burger">
                <i class="fas fa-bars"></i> 
            </figure>
        </div>
        <div class="header-div-two">
            <form action="">
                <input class="main-input" type="text" name="" id="" placeholder="¿Qué estás buscando?">
                <i id="posicion-i" class="fas fa-search"></i>
            </form>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">VINO TINTO</a></li>
                <li><a href="#">VINO BLANCO</a></li>
                <li><a href="#">ESPUMANTES</a></li>
                <li><a href="#">WHISKYS</a></li>
                <li><a href="#">ESPIRITUOSAS</a></li>
                <li><a href="#">CERVEZAS</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <div class="banner">
            <img src="/images/banner-vinos.jpg" alt="banner-vinos">
        </div>

        <ul class="info">
            <li><i class="fas fa-shuttle-van"></i> Envios a todo el pais</li>
            <li><i class="fas fa-credit-card"></i> Ver medios de pago</li>
            <li><i class="fas fa-comment-alt"></i></i> Consultá por whatsapp</li>
        </ul>
        <section>
            <div class="col-12">
				<h2 class="products-title">Basado en tu última visita</h2>
			</div>
            <!-- Show all products -->
			<% visited.forEach(function(product){ %>
                <a href="/productos/detail/<%= product.id %>"></a>
                    <article>
                        <img src="/images/<%= product.image%>" alt="vino-rutini" >
                        <p><%= product.name %></p>
                        <p>$<%= product.price %></p>
                        <p>Hasta 6 cuotas de $133,33</p>
                        <button class="main-button" type="submit" value="ENVIAR" style=cursor:pointer><a href="/productos/detail/<%= product.id %>">COMPRAR</a></button>
                        
                    </article>
                </a>
            <% }) %>
        </section>
        <section>
            <div class="col-12">
				<h2 class="products-title">Ofertas</h2>
			</div>
            <!-- Show all products -->
			<% inSale.forEach(function(product){ %>
                <a href="/productos/detail/<%= product.id %>"></a>
                    <article>
                        <img src="/images/<%= product.image%>" alt="vino-rutini" >
                        <p><%= product.name %></p>
                        <p>$<%= product.price %></p>
                        <p>Hasta 6 cuotas de $133,33</p>
                        <button class="main-button" type="submit" value="ENVIAR" style=cursor:pointer><a href="/productos/detail/<%= product.id %>">COMPRAR</a></button>
                        
                    </article>
                </a>
            <% }) %>
        </section>

    </main>

    <%- include ("./partials/footer") %>

</body>
</html>