<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WineOn - <%= product.name %></title>
        <link rel="stylesheet" href="/css/style_productDetail.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
    
<body>

    <%- include ("./partials/header") %>

    <main>
        <section class="bloqueProducto-padre">
            <article >
                <div class="vip_item">
                    <h3><%= product.name %></h3>
                    <img src="/images/products/<%= product.image %>" alt="" width="350" height="350">
                    
                </div>
            </article>

            <article>
                <div class="detalle_item">
                    <h3>Detalle del producto</h3>
                    <p><%= product.description %></p><br>
                </div>
                <div class="price">
                    <p>$ <%= product.price %></p>
                </div>
                <div class="quantity">
                    <label for="cantidad">Cantidad: </label>
                    <form  lass="checkout" action="/detalle" method="POST">
                        <select name="OS">
                            <option value="1">1</option> 
                            <option value="2">2 Unidades</option> 
                            <option value="3">3 Unidades</option>
                            <option value="4">4 Unidades</option>
                            <option value="5">5 Unidades</option>
                        </select>
                    </form>
                    <form action="/carrito" method="GET">
                        <button class="boton" type="submit" value="agregar_carrito" style=cursor:pointer>Agregar al carrito</button>
                    </form>
                </div>
                

            </article>

        </section>

        <div id="acciones">
            <form action="/productos/detail/<%= product.id %>/editar"  method="GET">
                <button class="boton_editar" type="submit" value="editar_item" style=cursor:pointer>Editar Producto</button>
            </form>
        </div>

    </main>

    <%- include ("./partials/footer") %>
    
</body>
</html>
