<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WineOn - <%= product.name %></title>
        <link rel="stylesheet" href="/css/style_productDetail.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
    
<body>

    <%- include ("./partials/header") %>

    <main>
        <section class="bloqueProducto-padre">
            <article >
                <div class="vip_item">
                    <h3><%= product.name %></h3>
                    <img src="/images/<%= product.image %>" alt="" width="350" height="350">
                    <h3 class="price">$ <%= product.price %></h3>
                </div>
            </article>

            <article>
                <div class="detalle_item">
                    <h3>Detalle del producto</h3>
                    <p><%= product.description %></p><br>
                </div>
                <div class="quantity">
                    <label for="cantidad">Cantidad: </label>
                    <form  lass="checkout" action="/detalle" method="POST">
                        <select name="OS">
                            <option value="1">1</option> 
                            <option value="2">2 Unidades</option> 
                            <option value="3">3 Unidades</option>
                            <option value="4">4 Unidades</option>
                            <option value="5">5 Unidades</option>
                        </select>
                    </form>
                    <form action="/carrito" method="GET">
                        <button class="boton" type="submit" value="agregar_carrito" style=cursor:pointer>Agregar al carrito</button>
                    </form>
                </div>
                

            </article>

        </section>

        <section>
            <article id="sugerencias">
                <div>
                    <h3 >Te pueden interesar estos productos</h4>
                </div>
                <div id="Destacados">
                    <i class="fas fa-angle-left"></i>
                    <img src="/images/vino-rutini.jpg" alt="" width="100" height="100">
                    <i class="fas fa-angle-right"></i>
                </div>
                <div id="conjunto-circle">
                    <i class="fas fa-circle"></i> 
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                </div>
                <div>
                    <h5>Luigi Bosca De Sangre Cabernet Sauvignon 750</h5>
                    <h4>$2.407</h4>
                </div>
            </article>
        </section>

    </main>

    <%- include ("./partials/footer") %>
    
</body>
</html>
